@{
    Layout = "~/Views/_Layout.cshtml";
}

<h2>
    <p>
        Hello @User.Identity.Name .How's the weather in @ViewBag.Country?
    </p>
</h2>
<p>
    <a href="@Url.Action("logout", "auth")">Log Out</a>
</p>